# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependencies are not vendored by default, but a tarball is created by "make vendor"
# and provided in the release. Used by freebsd, gentoo, etc.
vendor/
vendor.tgz

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# built by make
/crowdsec-firewall-bouncer
/crowdsec-firewall-bouncer-*
/crowdsec-firewall-bouncer.tgz

# built by dpkg-buildpackage
/debian/crowdsec-firewall-bouncer-iptables
/debian/crowdsec-firewall-bouncer-nftables
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/*-stamp

# built by rpmbuild
/rpm/BUILD
/rpm/BUILDROOT
/rpm/RPMS
/rpm/SOURCES/*.tar.gz
/rpm/SRPMS

# nix generated dirs
.direnv
.devenv
