# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# built by make
/crowdsec-firewall-bouncer
/crowdsec-firewall-bouncer-*
/crowdsec-firewall-bouncer.tgz

# built by dpkg-buildpackage
/debian/crowdsec-firewall-bouncer-iptables
/debian/crowdsec-firewall-bouncer-nftables
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/*-stamp
