[packages]
pytest-cs = {ref = "0.7.14", git = "https://github.com/crowdsecurity/pytest-cs.git"}
pytest-dotenv = "0.5.2"
pytest-dependency = "0.5.1"
pexpect = "4.8.0"
exceptiongroup = "1.1.1"
flask = "2.2.3"
pytimeparse = "1.1.8"
psutil = "5.9.5"

[dev-packages]
gnureadline = "8.1.2"
ipdb = "0.13.13"

[requires]
python_version = "*"
