Source: crowdsec-firewall-bouncer
Maintainer: Crowdsec Support Team <support@crowdsec.net>
Build-Depends: debhelper, jq, bash, git

Package: crowdsec-firewall-bouncer
Architecture: any
Description: Firewall (iptables, pf, ipset) bouncer for Crowdsec

Package: crowdsec-firewall-bouncer-iptables
Architecture: any
Description: Firewall (iptables, pf, ipset) bouncer for Crowdsec
Depends: crowdsec-firewall-bouncer

Package: crowdsec-firewall-bouncer-nftables
Architecture: any
Description: Firewall (iptables, pf, ipset) bouncer for Crowdsec
Depends: crowdsec-firewall-bouncer
