#!/usr/bin/make -f

export DEB_VERSION=$(shell dpkg-parsechangelog | grep -E '^Version:' | cut -f 2 -d ' ')
export BUILD_VERSION=v${DEB_VERSION}-debian-pragmatic
export GO111MODULE=on


%:
	dh $@

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	make

	for BACKEND in iptables nftables; do \
		BOUNCER=crowdsec-firewall-bouncer; \
		PKG=$$BOUNCER-$$BACKEND; \
		mkdir -p "debian/$$PKG/usr/sbin"; \
		cp $$BOUNCER "debian/$$PKG/usr/sbin"; \
		mkdir -p "debian/$$PKG/usr/lib/$$PKG"; \
		install -m 0700 config/helper.sh "debian/$$PKG/usr/lib/$$PKG/"; \
		mkdir -p "debian/$$PKG/etc/crowdsec/bouncers/"; \
		(umask 077; BACKEND=$$BACKEND envsubst '$$BACKEND' < config/$$BOUNCER.yaml > "debian/$$PKG/etc/crowdsec/bouncers/$$BOUNCER.yaml"); \
		mkdir -p "debian/$$PKG/etc/systemd/system/"; \
		BIN=/usr/sbin/$$BOUNCER CFG=/etc/crowdsec/bouncers envsubst '$$BIN $$CFG' < config/$$BOUNCER.service > "debian/$$PKG/etc/systemd/system/$$BOUNCER.service"; \
	done
