[Unit]
Description=The firewall bouncer for CrowdSec
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=notify
ExecStart=${BIN} -c ${CFG}/firewall-bouncer.yaml
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target


